<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Python Homework</title>

    <!-- Favicons -->
    <link href="/static/assets/img/favicon.png" rel="icon">
    <link href="/static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="/https://fonts.gstatic.com" rel="preconnect">
    <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
            rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/static/assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="/static/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="/static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/static/assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/static/assets/css/style.css" rel="stylesheet">

    <!-- Select -->
    <link href="/static/assets/vendor/bootstrap/css/bootstrap-select.min.css" rel="stylesheet">

</head>

<body>
<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
        <div class="logo d-flex align-items-center">
            <img src="/static/assets/img/logo.png" alt="">
            <span class="d-none d-lg-block">Python Homework</span>
        </div>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

</header><!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link collapsed" href="/index/">
                <i class="bi bi-grid"></i>
                <span>Statistic</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="/display/">
                <i class="bi bi-layout-text-window-reverse"></i>
                <span>Display</span>
            </a>
        </li><!-- End Display Page Nav -->

        <li class="nav-item">
            <a class="nav-link" href="/predict/">
                <i class="bi bi-menu-button-wide"></i><span>Predict</span>
            </a>
        </li><!-- End Prediction Page Nav -->

        <li class="nav-item">
            <a class="nav-link  collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-journal-text"></i><span>Analysis</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="forms-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/analysis/data/overview">
                        <i class="bi bi-circle"></i><span>Data Overview</span>
                    </a>
                </li>
                <li>
                    <a href="/analysis/data/analysis" >
                        <i class="bi bi-circle"></i><span>Data Analysis</span>
                    </a>
                </li>
                <li>
                    <a href="/analysis/model/construction">
                        <i class="bi bi-circle"></i><span>Model Construction</span>
                    </a>
                </li>
                <li>
                    <a href="/analysis/data/prepocessing">
                        <i class="bi bi-circle"></i><span>Data Preprocessing</span>
                    </a>
                </li>
                <li>
                    <a href="/analysis/feature/selection">
                        <i class="bi bi-circle"></i><span>Feature Selection</span>
                    </a>
                </li>
                <li>
                    <a href="/analysis/model/training">
                        <i class="bi bi-circle"></i><span>Model Training</span>
                    </a>
                </li>
                <li>
                    <a href="/analysis/prediction">
                        <i class="bi bi-circle"></i><span>Prediction</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Forms Nav -->

        <li class="nav-heading">Pages</li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="/register/">
                <i class="bi bi-card-list"></i>
                <span>Register</span>
            </a>
        </li><!-- End Register Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="/login/">
                <i class="bi bi-box-arrow-in-right"></i>
                <span>Login</span>
            </a>
        </li><!-- End Login Page Nav -->
    </ul>

</aside><!-- End Sidebar-->

<main id="main" class="main">


    <div class="pagetitle">
        <h1>Display</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/index/">Home</a></li>
                <li class="breadcrumb-item active">Display</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">

        <!-- input student id -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title text">Please enter the id of the student whose details you want to view
                            ...
                        </div>
                        <form action="/display/" method="POST" id="id-form">
                            {% csrf_token %}
                            <div class="row mb-3">
                                <label class="col-2 col-form-label text-center">
                                    <div style="font-family: Avant Garde;">Student Id</div>
                                </label>
                                <div class="col-3">
                                    <input type="text" class="form-control" name="student-id" id="student-id" required>
                                </div>
                                <div class="col-4">
                                    <input class="btn btn-danger btn-md" type="submit" value="Screen" id="submit">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        {% if show %}
            <!-- chart -->
            <div class="row">
                <div class="col-12">
                    <div class="card recent-sales overflow-auto">
                        <div class="card-body">
                            <h5 class="card-title">Info Display</h5>
                            <p> Display details related to the selected student </p>
                            <hr>
                            <table class="table table-bordered datatable">
                                <thead>
                                    <tr>
                                        {% for v in data_head %}
                                        <th class="text-center">{{ v }}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for line in data_body %}
                                    <tr>
                                        {% for v in line %}
                                        <td class="text-center">{{ v }}</td>
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div><!-- End Left side columns -->

            <!-- table -->
            <div class="row">
                <div class="col-12">
                    <div class="card recent-sales overflow-auto">
                        <div class="filter">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">Radar Chart</h5>
                            <p> Displays a radar chart depicting selected student information </p>
                            <hr>
                            <div id="wrap" style="height: 520px;">
                                <iframe id="iframe1" class="iframe" src="/find/?path=cache/radar_display.html"
                                        frameborder="0"
                                        scrolling="auto" style="width: 100%; height: 520px;"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- End Left side columns -->
        {% endif %}
    </section>
</main>

<!-- Template Main JS File -->
<script src="/static/assets/js/main.js"></script>
<script src="/static/assets/js/jquery.3.2.1.min.js"></script>
<!-- Vendor JS Files -->
<script src="/static/assets/vendor/apexcharts/apexcharts.min.js"></script>
<script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/assets/vendor/chart.js/chart.min.js"></script>
<script src="/static/assets/vendor/echarts/echarts.min.js"></script>
<script src="/static/assets/vendor/quill/quill.min.js"></script>
<script src="/static/assets/vendor/simple-datatables/simple-datatables.js"></script>
<script src="/static/assets/vendor/tinymce/tinymce.min.js"></script>
<script src="/static/assets/vendor/php-email-form/validate.js"></script>
<script src="/static/assets/vendor/vendor.min.js"></script>
<script src="/static/assets/vendor/bootstrap/js/bootstrap-select.min.js"></script>

<!-- Form validation -->
<script>
    var inputBox = document.getElementById("student-id");
    var submitButton = document.getElementById("submit");
    var form = document.getElementById("id-form");
    var regex = /^\d+$/i

    form.onsubmit = function () {
        var userInput = inputBox.value.trim();
        var idList = userInput.split(",")
        for (id of idList) {
            if (!regex.test(id.trim())) {
                alert("Incorrect input format, please re-enter!\nExample of the correct format is as follows\n\n" +
                    "example1: 124\n" + "example2: 152,253,114,258");
                return false;
            }
        }
        return true;
    }


</script>

</body>

</html>