<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="3c051cd2e3984270bf346c3a7a41ead4" class="chart-container" style="width:970px; height:900px;"></div>
    <script>
        var chart_3c051cd2e3984270bf346c3a7a41ead4 = echarts.init(
            document.getElementById('3c051cd2e3984270bf346c3a7a41ead4'), 'white', {renderer: 'canvas'});
        var option_3c051cd2e3984270bf346c3a7a41ead4 = {
    "backgroundColor": "white",
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "legendHoverLink": true,
            "data": [
                -6.74837,
                -6.74837,
                -0.0797,
                -0.58538,
                -3.23914,
                -0.75781,
                -0.1757,
                -5.45431,
                -1.39093,
                -3.70019,
                -0.01674,
                -2.32163,
                -0.78595,
                -0.00452,
                -0.07629,
                -0.25006,
                -0.50363,
                -0.09181,
                -0.58538,
                -3.23914,
                -1.83907,
                -5.64586,
                -2.05234,
                -3.70019,
                -0.01674,
                -1.24429,
                -0.34689,
                -0.06357,
                -0.09181,
                -0.35896,
                -0.50363,
                -0.23463,
                -0.52327,
                -0.69731,
                -0.12537,
                -1.84962,
                -0.77792,
                -0.3067,
                -0.02391,
                -2.74362,
                -0.67962,
                -3.05505,
                -0.15251,
                -0.12478,
                -0.30341,
                -0.29414,
                -1.5341,
                -1.5341,
                -16.60688,
                -16.60688,
                -19.50757,
                -19.50757,
                -13.92426,
                -13.92426,
                -47.68538,
                -47.68538,
                -41.6116,
                -47.04905,
                -32.05645,
                -11.93483,
                -0.98589
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "markLine": {
                "silent": false,
                "precision": 2,
                "label": {
                    "show": true,
                    "position": "top",
                    "margin": 8
                },
                "data": [
                    {
                        "name": "average",
                        "type": "average"
                    }
                ]
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                ""
            ],
            "selected": {
                "": true
            },
            "type": "scroll",
            "show": true,
            "left": "80%",
            "top": "8%",
            "orient": "vertical",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "show": true,
                "position": "right",
                "distance": "15%",
                "margin": 1,
                "fontSize": 6.6
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "gender_F",
                "gender_M",
                "Nationality_Egypt",
                "Nationality_Iran",
                "Nationality_Iraq",
                "Nationality_Jordan",
                "Nationality_KW",
                "Nationality_Kuwait",
                "Nationality_Lebanon",
                "Nationality_Lybia",
                "Nationality_Morocco",
                "Nationality_Palestine",
                "Nationality_SaudiArabia",
                "Nationality_Syria",
                "Nationality_Tunis",
                "Nationality_USA",
                "Nationality_venzuela",
                "PlaceofBirth_Egypt",
                "PlaceofBirth_Iran",
                "PlaceofBirth_Iraq",
                "PlaceofBirth_Jordan",
                "PlaceofBirth_Kuwait",
                "PlaceofBirth_Lebanon",
                "PlaceofBirth_Lybia",
                "PlaceofBirth_Morocco",
                "PlaceofBirth_Palestine",
                "PlaceofBirth_SaudiArabia",
                "PlaceofBirth_Syria",
                "PlaceofBirth_Tunis",
                "PlaceofBirth_USA",
                "PlaceofBirth_venzuela",
                "SectionID_A",
                "SectionID_B",
                "SectionID_C",
                "Topic_Arabic",
                "Topic_Biology",
                "Topic_Chemistry",
                "Topic_English",
                "Topic_French",
                "Topic_Geology",
                "Topic_History",
                "Topic_IT",
                "Topic_Math",
                "Topic_Quran",
                "Topic_Science",
                "Topic_Spanish",
                "Semester_F",
                "Semester_S",
                "Relation_Father",
                "Relation_Mum",
                "ParentAnsweringSurvey_No",
                "ParentAnsweringSurvey_Yes",
                "ParentschoolSatisfaction_Bad",
                "ParentschoolSatisfaction_Good",
                "StudentAbsenceDays_Above-7",
                "StudentAbsenceDays_Under-7",
                "raisedhands",
                "VisitedResources",
                "AnnouncementsView",
                "Discussion",
                "GradeID"
            ]
        }
    ],
    "title": [
        {
            "text": "Features-Chi square test p-value",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "toolbox": {
        "show": true,
        "orient": "horizontal",
        "itemSize": 15,
        "itemGap": 10,
        "left": "80%",
        "feature": {
            "saveAsImage": {
                "type": "png",
                "backgroundColor": "auto",
                "connectedBackgroundColor": "#fff",
                "show": true,
                "title": "\u4fdd\u5b58\u4e3a\u56fe\u7247",
                "pixelRatio": 1.5
            },
            "dataView": {
                "show": true,
                "title": "\u6570\u636e\u89c6\u56fe",
                "readOnly": false,
                "lang": [
                    "\u6570\u636e\u89c6\u56fe",
                    "\u5173\u95ed",
                    "\u5237\u65b0"
                ],
                "backgroundColor": "#fff",
                "textareaColor": "#fff",
                "textareaBorderColor": "#333",
                "textColor": "#000",
                "buttonColor": "#c23531",
                "buttonTextColor": "#fff"
            }
        }
    }
};
        chart_3c051cd2e3984270bf346c3a7a41ead4.setOption(option_3c051cd2e3984270bf346c3a7a41ead4);
    </script>
</body>
</html>
