<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="081b2868162c40748a59145c161a5ee0" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_081b2868162c40748a59145c161a5ee0 = echarts.init(
            document.getElementById('081b2868162c40748a59145c161a5ee0'), 'white', {renderer: 'canvas'});
        var option_081b2868162c40748a59145c161a5ee0 = {
    "backgroundColor": "white",
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "heatmap",
            "data": [
                [
                    0,
                    0,
                    0.19341
                ],
                [
                    0,
                    1,
                    0.33391
                ],
                [
                    0,
                    2,
                    0.64019
                ],
                [
                    0,
                    3,
                    0.68736
                ],
                [
                    0,
                    4,
                    1.0
                ],
                [
                    1,
                    0,
                    0.07739
                ],
                [
                    1,
                    1,
                    0.22841
                ],
                [
                    1,
                    2,
                    0.58429
                ],
                [
                    1,
                    3,
                    1.0
                ],
                [
                    1,
                    4,
                    0.68736
                ],
                [
                    2,
                    0,
                    0.19928
                ],
                [
                    2,
                    1,
                    0.41727
                ],
                [
                    2,
                    2,
                    1.0
                ],
                [
                    2,
                    3,
                    0.58429
                ],
                [
                    2,
                    4,
                    0.64019
                ],
                [
                    3,
                    0,
                    0.182
                ],
                [
                    3,
                    1,
                    1.0
                ],
                [
                    3,
                    2,
                    0.41727
                ],
                [
                    3,
                    3,
                    0.22841
                ],
                [
                    3,
                    4,
                    0.33391
                ],
                [
                    4,
                    0,
                    1.0
                ],
                [
                    4,
                    1,
                    0.182
                ],
                [
                    4,
                    2,
                    0.19928
                ],
                [
                    4,
                    3,
                    0.07739
                ],
                [
                    4,
                    4,
                    0.19341
                ]
            ],
            "label": {
                "show": true,
                "position": "inside",
                "margin": 8
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            },
            "xaxis_opts": {
                "show": true,
                "scale": false,
                "nameLocation": "end",
                "nameGap": 15,
                "gridIndex": 0,
                "axisLabel": {
                    "show": true,
                    "position": "top",
                    "rotate": -15,
                    "margin": 3,
                    "fontSize": 10
                },
                "inverse": false,
                "offset": 0,
                "splitNumber": 5,
                "minInterval": 0,
                "splitLine": {
                    "show": false,
                    "lineStyle": {
                        "show": true,
                        "width": 1,
                        "opacity": 1,
                        "curveness": 0,
                        "type": "solid"
                    }
                }
            }
        }
    ],
    "legend": [
        {
            "data": [
                ""
            ],
            "selected": {
                "": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "show": true,
                "position": "top",
                "margin": 7,
                "fontSize": 9
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "raisedhands",
                "VisitedResources",
                "AnnouncementsView",
                "Discussion",
                "GradeID"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "show": true,
                "position": "top",
                "margin": 1,
                "fontSize": 9
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "raisedhands",
                "VisitedResources",
                "AnnouncementsView",
                "Discussion",
                "GradeID"
            ]
        }
    ],
    "title": [
        {
            "text": "Correlation Matrix of Numeric Features",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "toolbox": {
        "show": true,
        "orient": "horizontal",
        "itemSize": 15,
        "itemGap": 10,
        "left": "80%",
        "feature": {
            "saveAsImage": {
                "type": "png",
                "backgroundColor": "auto",
                "connectedBackgroundColor": "#fff",
                "show": true,
                "title": "\u4fdd\u5b58\u4e3a\u56fe\u7247",
                "pixelRatio": 1.5
            },
            "dataView": {
                "show": true,
                "title": "\u6570\u636e\u89c6\u56fe",
                "readOnly": false,
                "lang": [
                    "\u6570\u636e\u89c6\u56fe",
                    "\u5173\u95ed",
                    "\u5237\u65b0"
                ],
                "backgroundColor": "#fff",
                "textareaColor": "#fff",
                "textareaBorderColor": "#333",
                "textColor": "#000",
                "buttonColor": "#c23531",
                "buttonTextColor": "#fff"
            }
        }
    },
    "visualMap": {
        "show": true,
        "type": "continuous",
        "min": 0,
        "max": 1,
        "inRange": {
            "color": [
                "#50a3ba",
                "#eac763",
                "#d94e5d"
            ]
        },
        "calculable": true,
        "inverse": false,
        "splitNumber": 5,
        "orient": "vertical",
        "right": "5%",
        "showLabel": true,
        "itemWidth": 20,
        "itemHeight": 140,
        "borderWidth": 0
    }
};
        chart_081b2868162c40748a59145c161a5ee0.setOption(option_081b2868162c40748a59145c161a5ee0);
    </script>
</body>
</html>
