<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <iframe src="/find/?path=Feature_importance.html" frameborder="0" scrolling="auto" width="1200px"
            height="900px"></iframe>
</div>
<div>
    <iframe src="/find/?path=Heatmap.html" frameborder="0" scrolling="auto" width="1200px" height="900px"></iframe>
</div>
<div>
    <iframe src="/find/?path=Model-Accuracy.html" frameborder="0" scrolling="auto" width="1200px"
            height="900px"></iframe>
</div>
</body>
</html>