<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
</head>
<body>
<h1>用户注册</h1>
<form action="/register/" method="POST">
    {% csrf_token %}
    <div>
        <span>用户名: </span>
        <input type="text" name="user" placeholder="用户名" required="required">
    </div>
    <div>
        <span>密码: </span>
        <input type="password" name="password" placeholder="密码" required="required">
    </div>
    <div>
        <span>邮箱: </span>
        <input type="text" name="email" placeholder="邮箱">
    </div>
    <div>
        <span>电话: </span>
        <input type="text" name="mobile">
    </div>
    <div>
        <span>个人介绍: </span>
        <textarea name="introduction" rows="5"></textarea>
    </div>
    <input type="submit" value="提交">
</form>
</body>
</html>