<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="7036eac3ec834211bd44582c1f8741ae" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_7036eac3ec834211bd44582c1f8741ae = echarts.init(
            document.getElementById('7036eac3ec834211bd44582c1f8741ae'), 'white', {renderer: 'canvas'});
        var option_7036eac3ec834211bd44582c1f8741ae = {
    "backgroundColor": "white",
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "M",
            "legendHoverLink": true,
            "data": [
                {
                    "value": 63,
                    "percent": 0.6631578947368421
                },
                {
                    "value": 43,
                    "percent": 0.7288135593220338
                },
                {
                    "value": 35,
                    "percent": 0.5384615384615384
                },
                {
                    "value": 28,
                    "percent": 0.5490196078431373
                },
                {
                    "value": 26,
                    "percent": 0.5777777777777777
                },
                {
                    "value": 24,
                    "percent": 0.96
                },
                {
                    "value": 20,
                    "percent": 0.6666666666666666
                },
                {
                    "value": 16,
                    "percent": 0.7619047619047619
                },
                {
                    "value": 14,
                    "percent": 0.5833333333333334
                },
                {
                    "value": 13,
                    "percent": 0.5909090909090909
                },
                {
                    "value": 12,
                    "percent": 0.5
                },
                {
                    "value": 11,
                    "percent": 0.5789473684210527
                }
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "30%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "F",
            "legendHoverLink": true,
            "data": [
                {
                    "value": 32,
                    "percent": 0.3368421052631579
                },
                {
                    "value": 30,
                    "percent": 0.46153846153846156
                },
                {
                    "value": 23,
                    "percent": 0.45098039215686275
                },
                {
                    "value": 19,
                    "percent": 0.4222222222222222
                },
                {
                    "value": 16,
                    "percent": 0.2711864406779661
                },
                {
                    "value": 12,
                    "percent": 0.5
                },
                {
                    "value": 10,
                    "percent": 0.4166666666666667
                },
                {
                    "value": 10,
                    "percent": 0.3333333333333333
                },
                {
                    "value": 9,
                    "percent": 0.4090909090909091
                },
                {
                    "value": 8,
                    "percent": 0.42105263157894735
                },
                {
                    "value": 5,
                    "percent": 0.23809523809523808
                },
                {
                    "value": 1,
                    "percent": 0.04
                }
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "30%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "M",
                "F"
            ],
            "selected": {
                "M": true,
                "F": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "show": true,
                "position": "top",
                "margin": 8,
                "interval": 0
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "IT",
                "French",
                "Arabic",
                "Science",
                "English",
                "Biology",
                "Spanish",
                "Chemistry",
                "Geology",
                "Quran",
                "Math",
                "History"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "Topic statistic",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "toolbox": {
        "show": true,
        "orient": "horizontal",
        "itemSize": 15,
        "itemGap": 10,
        "left": "80%",
        "feature": {
            "saveAsImage": {
                "type": "png",
                "backgroundColor": "auto",
                "connectedBackgroundColor": "#fff",
                "show": true,
                "title": "\u4fdd\u5b58\u4e3a\u56fe\u7247",
                "pixelRatio": 2
            },
            "dataView": {
                "show": true,
                "title": "\u6570\u636e\u89c6\u56fe",
                "readOnly": false,
                "lang": [
                    "\u6570\u636e\u89c6\u56fe",
                    "\u5173\u95ed",
                    "\u5237\u65b0"
                ],
                "backgroundColor": "#fff",
                "textareaColor": "#fff",
                "textareaBorderColor": "#333",
                "textColor": "#000",
                "buttonColor": "#c23531",
                "buttonTextColor": "#fff"
            },
            "magicType": {
                "show": true,
                "type": [
                    "line",
                    "bar",
                    "stack",
                    "tiled"
                ],
                "title": {
                    "line": "\u5207\u6362\u4e3a\u6298\u7ebf\u56fe",
                    "bar": "\u5207\u6362\u4e3a\u67f1\u72b6\u56fe",
                    "stack": "\u5207\u6362\u4e3a\u5806\u53e0",
                    "tiled": "\u5207\u6362\u4e3a\u5e73\u94fa"
                },
                "icon": {}
            }
        }
    }
};
        chart_7036eac3ec834211bd44582c1f8741ae.setOption(option_7036eac3ec834211bd44582c1f8741ae);
    </script>
</body>
</html>
